/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 
start */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    
}
.banner-header{;
    height: 600px;
    width: 1320px;
    border-radius: 16px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00)),url("resources/Banner\ Image.png");
    
}
.banner-section{
    margin-top: 220px;
}
.banner-heading{
    color: #ffffff;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
}
.banner-title{
    color: #ffffff;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 75px;
}
.discount-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}
.discount-text{
    text-align: center;
}
.new-img{
   display: flex;
   justify-content: center;
}
.off{
    text-align: center;
    color: #ff0000;
    font-family: Inter;
    font-size: 87px;
    font-weight: 700px;
    margin-bottom: 30px;
}
.holiday{
    color: #ff0000;
    font-size: 24px;
    font-weight: 500px;
    margin-bottom: 16px;
}
.all-categoris{
    color:#070211 ;
    font-size: 48px;
    font-weight: 900px;
    margin-bottom: 48px;
    font-family: 'inter',sans-serif;
}
.new-year-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px 0px;
}
.new-year{
    background-image: url("resources/Vectorrr.png");
    background-repeat: no-repeat;
    height: 600px;
    width: 1320px;
}
.mid-night{
    color: white;
    text-align: left;
    margin:-340px 0px 0px 80px;
    
}
.new-img{
    margin:55px 0px 0px  530px;
}
.new-year-heading{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 65px;
    letter-spacing: 7.04px;
}
.new-para{
    color: white;
    font-family: Inter;
    font-size: 18px;
    font-weight:400px ;
    line-height:25px ;
    margin-top: 10px;
    margin-bottom: 20px;
}
.join-btn{
    border: none;
    border-radius: 4px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    padding: 8px;
    background-color: #ff0000;
}

.all-joining-container{
    display: flex;
    align-items: center;
    justify-content: center; 
}
.all-joing-here{ 
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    /* background-color:antiquewhite; */
    height: 482px;
    width: 1320px;
    border-radius: 10px;
}
.joing-time{
    text-align: center;
    color:black;
    font-family: Inter;
    font-size: 22px;
    font-weight: 600;
    margin-top: 150px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    text-transform: capitalize;
  
}
.show-start-btn{
    color: white;
    background-color: #ff0000;
    border-radius: 3px; 
    padding:10px;
    border: none;
    
}
.all-best-offer-container{
    width: 1320px;
    height: 730px;
    margin: auto;
}
.all-best-offer{
    display: flex;
    justify-content: center;
}
.offer-text{
    text-align:left;
    margin:255px 40px 0px 30px ;
}
.best-offer-heading{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}
.best-offer-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.best-offer-paragraph{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}
.middle-picture{
    margin:190px 160px 0px 0px;
}
.red-background{
    width: 500px;
    height: 500px;
    margin-top: -380px;
}
.offer-year{
   font-family:inter ;
   margin-top: 210px; 
   margin-right: 20px;
   text-align: left;
}
.year-heading{
    color: #F00;
    font-size: 48px;
    font-weight: 700px;
}
.year-paragraph{
    color: rgba(7, 2, 17, 0.60);
    font-family: inter;
    font-size: 20px;
    font-weight: 400px;
    margin:15px 30px 0px 0px;
}
.happy-image{
    margin-top: 25px;
    width: 170px;
    height: 170px;
}

/* 50% discount section css */
.discount-container{
    width: 1320px;
    margin: 0px auto;
    text-align: center;
}
.discount-heading{
    color:black;
    font-family: inter;
    font-size: 40px;
    font-weight: 500px;
}
.discount-sale-heading{
    color: #F00;
    font-family: inter;
    font-size: 70px;
    font-weight: 700px;
    margin: 8px auto;
}
.discount-paragraph{
    font-size: 20px;
    font-weight: 500px;
    line-height: 20px;
    margin-bottom:15px;
}

.holiday-sale{
    text-align: center;
}

.top-image{
   display: flex;
   justify-content: center;
   /* margin-right: 13px; */
}
.reward{
   width: 360px;
   height: 380px;
   margin-top:90px;
   margin-right: 400px;
}
.fifty-discount{
    width: 350px;
    height: 350px;
    display: flex;
     position: absolute;
     z-index: 1;
     margin-left:750px ;
    
}
.gril-image{
   width: 420px;
   height:433px;
   margin-left: 140px;
   margin-top: 38px; 
}
.rectangle-bottom{
    text-align: center;
}
/* portfolio css design */
.portfolio-container{
    margin: auto;
    width: 1300px;
}
.images-1{
    display: grid;
    grid-template-columns:repeat( 3, 1fr);
    gap: 20px;
    margin-top: 40px;
}
.portfolio-heading{
    color: #F00;
    font-size: 24px;
    font-weight: 500px;
    margin-top: 100px;
}
.portfolio-title{
    color: #070211;
    font-size: 48px;
    font-weight: 900px;
    margin: 8px 0px;
}
.portfolio-paragraph{
    color: #070211;
    font-size: 20px;
    font-weight: 400px;
}
/* Subscriber section css  */
.subscriber-container{
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    height: 616px;
    width: 1320px;
    margin:60px auto;
    text-align: center;
}

.subscriber-heading{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    }
.subscriber-paragraph{
    color: rgba(7, 2, 17, 0.60);
    width: 896px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height:30px; 
    margin:7px auto;
    }

.img{
    margin-top: 110px;
}
.form{
    display: flex;
    justify-content: center;
}
.email{
    padding: 10px;
    border: none;
    border-radius: 15px 0px 0px 15px;

}
.subscriber-btn{
    color: white;
    background-color: #F00;
    border: none;
    border-radius: 0px 15px 15px 0px;
    
}
/* footer section css */
.footer-container{
    width: 1600px;
    height: 609px; 
    margin: 0px auto;
    background-color:rgb(0, 0, 0);
}
.footer-all-class{
    display: flex;
    align-items: center;
    justify-content: center;

}
.footer-text{
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    margin-top:165px;
    margin-left: -250px;
}
.bottom-text{
    margin-top: 150px;
    margin-right: 40px;
}
.social-icon{
    margin-top:230px;
    margin-left:60px;
}
.phone-internet{
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    margin-top: 160px;
    margin-left:180px;
}
.unsubscribe{
    margin-top:150px;
}