/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 
start */

.banner-section{
    background-image: url("resources/Banner\ Image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 1320px;
}
.banner-heading{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.banner-title{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px
}
.discount-section{
    text-align: center;
}
.off{
    color: #ff0000;
    font-family: Inter;
    font-size: 87px;
    font-weight: 700px;
}
.holiday{
    color: #ff0000;
    font-size: 24px;
    font-weight: 500px;
}
.all-categoris{
    color:#070211 ;
    font-size: 48px;
    font-weight: 700px;
}
.new-year{
    background-image: url("resources/Vectorrr.png");
    background-repeat: no-repeat;
    height: 770px;
    text-align: center;
}
.mid-night{
    color: white;
    text-align: left;
    margin:-290px 0px 0px 80px;
    
}
.new-img{
    margin:55px 0px 0px  500px;
}
.new-year-heading{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
}
.new-para{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
}
.join-btn{
    border: none;
    border-radius: 4px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: ;
    background-color: #ff0000;
}
.all-joing-here{
    display: flex;
    justify-content: center;
    align-items: center;
}
.joing-time{
    padding-top: 100px;
    color:black;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; /* 175% */
    height: 482px;
    width: 1320px;
    background-color:antiquewhite;
}


.holiday-sale{
    text-align: center;
    margin-bottom: 30px;
}
.holiday-discount{
    width: 1600px;
}
.top-image{
    display: flex;
    align-items: center;justify-content: center;
}
.reward{
    width: 256px;
     height: 306px;
}
.half-discount{
    width: 206px;
    height: 206px;
    margin: 100px 74px ;
}
.rectangle-bottom{
    width:429px; 
    height:433px;
}
.footer{
    display: flex;
    justify-content: space-around;
    background-color:black;
    width: 1600px;
    height: 609px;
}
p{
    color: white;
}